<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hello World</title>

    <!-- build:css css/lib.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/styles.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->
    
</head>
<body>
    <header>
        <span>Hello World</span>    
    </header>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->

</body>
</html>